{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed">  <!-- we want this div to be fixed width -->
        <legend><i id="yellow"></i>CATEGORIES</legend>
        <ul>
            {% for name, category in categories %}
                <li>{{ name }}</li>
                <ul>
                {% for key, string in category %}
                    <li><a href="{{ key }}">{{ string }}</a></li>
                {% endfor %}
                </ul>
            {% endfor  %}
        </ul>
    </div>
    <div class="hero-unit filler">
        <legend><i id="yellow"></i>{{ entity.entityTitle }}</legend>
        <h1>{{ entity.entityTitle }}</h1>
        <p><strong>Description:</strong></p>
        <p>{{ entity.entityDescription }}</p>
        <p><strong>Price:</strong></p>
        <p>&#8364; {{ entity.entityInstantsellingprice}}</p>
        <p><strong>Placed on:</strong></p>
        <p>{{ entity.entityStarttime | date('l M j, Y / g:ia') }}</p>
        <h3>Bids</h3>
        {% for bid in bids %}
            <p>{{ bid.bidAmount }}€ by {{ bid.user.userName }}</p>
        {% endfor  %}
        <form novalidate="novalidate" id="form-Bid" method="post">
            <fieldset>
                <legend>Place Bid</legend>
                <dl>
                    <dd class="form-group">
                        {{ form_row (form.bidAmount, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.bidAmount) }}
                    </dd>
                </dl>
            </fieldset>
            {{ form_rest(form)}}
            <p><input class="btn btn-primary" name="" type="submit" value="Place Bid"></p>
        </form>
    </div>


{% endblock %}