{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed">  <!-- we want this div to be fixed width -->
        <legend><i id="yellow"></i>CATEGORIES</legend>
        {% for name, category in categories %}
            <li>{{ name }}</li>
            <ul>
                {% for key, string in category %}
                    <li><a href="{{ key }}">{{ string }}</a></li>
                {% endfor %}
            </ul>
        {% endfor  %}
    </div>
    {% if entities|length != 0 %}
        <div class="hero-unit filler">
            <legend><i id="yellow"></i>Items in category {{ entities[0].category.categoryName() }}</legend>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <!--<td>ID</td>-->
                    <td>Picture</td>
                    <td>Price</td>
                    <td>Item</td>
                    <td>Start Time</td>
                    <!--<td>End Time</td>-->
                    <!--<td>Condition</td>-->
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <!--<td>{# entity.entityId #}</td>-->
                        <td>Picture</td>
                        <td>&#8364; {{ entity.entityInstantsellingprice}}</td>
                        <td>
                            <ul>
                                <li><a href="{{ path('reuzze_reuzze_entityshowpage', {'entity_id': entity.entityId}) }}"></a>{{ entity.entityTitle }}</li>
                                <li>{{ entity.entityDescription }}</li>
                            </ul>
                        </td>
                        <td>{{ entity.entityStarttime | date('g:ia / l M j, Y') }}</td>
                        <!--<td>{# entity.entityEndtime | date('g:ia / l M j, Y') #}</td>-->

                        <!--<td>{# entity.entityCondition #}</td>-->
                    </tr>
                {% endfor  %}

                </tbody>
            </table>
        </div>
    {% else %}
        <p>No entities in this category.</p>
    {% endif %}

{% endblock %}