{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed">
        <legend><i id="yellow"></i>CATEGORIES</legend>
        {% for category in categories %}
            <p>{{ category.categoryName }}</p>
        {% endfor  %}
    </div>
    <div class="hero-unit filler">
        <form novalidate="novalidate" id="form" action="{{ path('reuzze_reuzze_updateaccount', { 'user_id': user.userId }) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <legend>Account</legend>
                <dl>
                    <dd class="form-group">
                        {{ form_row (form.username, { 'attr': {'class': 'form-control', 'autocomplete': 'off'} }) }}
                    </dd>
                    <dd class="form-group">
                        {{ form_row (form.userEmail, { 'attr': {'class': 'form-control', 'autocomplete': 'off'} }) }}
                        {# form_errors (form.userEmail) #}
                    </dd>
                    <dd class="form-group">
                        {{ form_row (form.password, { 'attr': {'class': 'form-control'} }) }}
                        {# form_errors (form.userSalt) #}
                    </dd>
                </dl>
            </fieldset>
            {{ form_rest(form)}}
            <p><input class="btn btn-primary" name="" type="submit" value="Edit Account!"></p>
        </form>
    </div>
{% endblock %}