{% extends 'ReuzzeReuzzeBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed categoriessidebar">  <!-- we want this div to be fixed width -->
        <legend><i id="yellow"></i>CATEGORIES</legend>
        {% for name, category in categories %}
            <li>{{ name }}</li>
            <ul>
                {% for key, string in category %}
                    <li><a href="{{ path('reuzze_reuzze_categoryentitiespage', {'category_id': key }) }}">{{ string }}</a></li>
                {% endfor %}
            </ul>
        {% endfor  %}
    </div>
    <div class="hero-unit filler">
    <form novalidate="novalidate" action="{{ path('reuzze_reuzze_login_checkpage') }}" id="form-login" method="post">
        <fieldset>
            <legend><i id="yellow"></i>LOGIN</legend>
            {% if error %}
                <div class="form-error">{{ error.message|trans }}</div>
            {% endif %}
            <dl>
                <dd class="form-group">
                    {{ form_row (form.username, { 'attr': {'class': 'form-control'} }) }}
                    {# form_errors(form.username) #}
                </dd>
                <dd class="form-group">
                    {{ form_row (form.password, { 'attr': {'class': 'form-control'} }) }}
                    {# form_errors (form.password) #}
                </dd>
            </dl>
        </fieldset>
        {{ form_rest(form)}}
        <p><input class="btn btn-primary" name="" type="submit" value="Login!"></p>
    </form>
    </div>
{% endblock %}